.box{
    background: white;
    border-radius: 5px;
    padding:20px;
      box-shadow: 5px 10px 10px 8px rgba(0, 0, 0, 0.3);
}
.customfont{
  font-family: 'Roboto Slab', serif;
}

h5{
  text-align: center;
}
.active{
  background: #23af8929;
  border-radius: 4px;
}
form{
  background: #23af8929;
  padding: 10px;
  border-radius: 4px;
}