
		<div class="container-fluid box">

          <ul class="nav nav-tabs">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " routerLink="/voterlogin">Voter</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/adminlogin">Admin</a>
              </li>
        
            </ul>


		<form  #f="ngForm" (ngSubmit)="onSubmit(f.value)">

			<h5 class="customfont" > Admin Login</h5>
			<br>
			
			<div class="form-group">			
	<input type="email" class="form-control grey" placeholder="Email"  name="em" #emRef="ngModel" required [(ngModel)]="em" email>
<div [hidden]="emRef.valid || emRef.pristine" class="alert alert-danger" >
					Please enter a valid email</div>
						</div>

			<div class="form-group">
				<label for="purpose">
					Purpose of Login
				</label>
				<select id="purpose" name="purpose"
					[(ngModel)]="purpose" class="form-control">
					<option value="add">Add candidate or voter</option>
					<option value="result">Get result</option>
				</select>
			</div>
		
						<div class="form-group">
	<input type="Password" class="form-control grey" placeholder="Password" name="pwd" #passRef="ngModel" required [(ngModel)]="pwd">
		<div [hidden]="passRef.valid || passRef.pristine" class="alert alert-danger" >
			Please enter password</div>
					</div>

	<button type="submit" class="btn btn-success btn-block" [disabled]="f.form.invalid">LOGIN</button>
	<div *ngIf="!hide" class="invalid">{{error}}</div>	
							<!-- <ngx-spinner
							bdColor="rgba(51,51,51,0.8)"
							size="medium"
							color="#fff"
							type="ball-scale-multiple">
						   <p style="font-size: 20px; color: white">Loading...</p>
						  </ngx-spinner> -->
			<!-- <div *ngIf="!check" class="invalid">{{error}}</div> -->
					</form>
			</div>

