<button  type="button" id="logout" class="btn btn-default" (click)="onLogoutLeave()"><i class="fas fa-sign-out-alt"></i></button>

<body>

        <mat-card class="choice-card">
                
                <mat-tab-group>
                    <mat-tab label="Institute">
                    <h4>Institute of Engineering and Management</h4>
                    
                    </mat-tab>
                    <mat-tab label="Post">
                    <h4>You are electing for the post of President</h4>
                    </mat-tab>
                </mat-tab-group>
                <br>
                <mat-divider></mat-divider>
                <br>
       
                <mat-card-subtitle>Please select your candidate :</mat-card-subtitle>
                <mat-card-content>

                <mat-radio-group name="choice" [(ngModel)]="choice" #selectedchoice="ngModel"  *ngFor= " let obj of arr" aria-label="Select a Candidate">

                <mat-radio-button  value={{obj.Roll}}  labelPosition="before">
                        {{obj.Name}} &nbsp; &nbsp;  Roll no. :{{obj.Roll}}
                </mat-radio-button>
                <br>
        <!-- <mat-radio-button value="1" labelPosition="before">{{Name}} 1 &nbsp; &nbsp;  Roll no. :242</mat-radio-button>
        <br>
        <mat-radio-button value="2" labelPosition="before">Name 2   &nbsp; &nbsp; Roll no. :241</mat-radio-button>
        <br> -->
                </mat-radio-group>
                <br>
                You have selected ={{choice}}
                <br>
                <mat-checkbox>I want to cast the vote for above selected candidate </mat-checkbox>
                <br>
        
            </mat-card-content>
            
            <button mat-flat-button [disabled]="disablebutton" color="accent" id="vote-button" (click)="CastVote()">Cast Vote</button>

            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple">
             <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
                
        
        </mat-card>
</body>
