  <div class="container-fluid box">
  <form  #f="ngForm" (ngSubmit)="onAddVoter(f.value)">

    <h5 class="customfont" > Enter Details to Add Voter </h5>
    <br>
    
    <div class="form-group">
        <label for="name">Enter Full Name of Voter</label>
        <input type="text" class="form-control grey" placeholder="Candidate Name" name="name" [(ngModel)]="name" required>
      </div>

      <div class="form-group">
          <label for="roll">Enter Roll Number of Voter</label>
          <input type="number" class="form-control grey" placeholder="Roll Number" name="roll" [(ngModel)]="roll" required>
        </div>

    <div class="form-group">
        <label for="roll">Enter email address of Voter</label>			
<input type="email" class="form-control grey" placeholder="Email"  name="em" #emRef="ngModel" required [(ngModel)]="em" email>
<div [hidden]="emRef.valid || emRef.pristine" class="alert alert-danger" >
        Please enter a valid email</div>
          </div>
  

    <div class="form-group">
        <label for="roll">Create a password for the voter to login</label>	
        <input type="Password" class="form-control grey" placeholder="Password" name="pwd" #passRef="ngModel" required [(ngModel)]="pwd">
          <div [hidden]="passRef.valid || passRef.pristine" class="alert alert-danger" >
            Please provide password</div>
    </div>
<button type="submit" class="btn btn-success btn-block" [disabled]="f.form.invalid">ADD VOTER</button>

<div *ngIf="!hide" class="invalid">{{successMessage}}</div>	
            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple">
             <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>

        </form>

        
    </div>


